<div class="grid-container">
  <h1 class="mat-h1">Requests</h1>
  <mat-grid-list cols="1" rowHeight="435px">
    <mat-grid-tile>
      <mat-card class="user-card" fxLayout="column">
        <mat-card-header>
          <mat-card-title>
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
