<div class="grid-container">
  <h1 class="mat-h1">User Management</h1>
  <mat-grid-list cols="2" rowHeight="435px">
    <mat-grid-tile cols="1">
      <mat-card class="user-card" fxLayout="column">
        <mat-card-header>
          <mat-card-title>
            <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="form-content">
                <input #id #idModel="ngModel" [(ngModel)]="idNo" class="login-field" matInput placeholder="ID">
              </mat-form-field>
              <mat-form-field class="form-content">
                <input #fName #firstNameModel="ngModel" [(ngModel)]="firstName" class="login-field" matInput
                       minlength="3" placeholder="First Name" required>
                <small *ngIf="firstNameModel.hasError('minlength') && firstNameModel.touched" [style.color]="'red'">
                  First name should be at least 3 letters
                </small>
              </mat-form-field>
              <button (click)="saveUser()" class="form-button" mat-raised-button type="button">Save</button>
            </div>
            <div class="col-md-6">
              <mat-form-field class="form-content">
                <input #lName #lastNameModel="ngModel" [(ngModel)]="lastName" class="login-field" matInput
                       minlength="3" placeholder="Last Name" required>
                <small *ngIf="lastNameModel.hasError('minlength') && lastNameModel.touched" [style.color]="'red'">
                  Last name should be at least 3 letters
                </small>
              </mat-form-field>
              <mat-form-field class="form-content">
                <input #nic #nicModel="ngModel" [(ngModel)]="nicNo" class="login-field" matInput
                       pattern="([0-9]{9}[vV]$)|([0-9]{11}[vV]$)"
                       placeholder="NIC" required>
                <small *ngIf="nicModel.hasError('pattern') && nicModel.touched" [style.color]="'red'">
                  Invalid NIC
                </small>
              </mat-form-field>
              <button class="form-button" mat-raised-button type="button">Update</button>
              <mat-form-field class="form-content">
                <mat-label>User Type</mat-label>
                <mat-select #uType #userTypeModel="ngModel" [(ngModel)]="userType" required>
                  <mat-option value="ADMIN">admin</mat-option>
                  <mat-option value="USER">in-house-worker</mat-option>
                  <mat-option value="DELIVERY_AGENT">deliver agent</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-content">
                <input #mobile #mobileModel="ngModel" [(ngModel)]="mobileNumber" class="login-field" matInput
                       pattern="([0]{1}[1-9]{9}$)" placeholder="Mobile" required>
                <small *ngIf="mobileModel.hasError('pattern') && mobileModel.touched" [style.color]="'red'">
                  Invalid mobile number
                </small>
              </mat-form-field>
              <button class="form-button" mat-raised-button type="button">Delete</button>
              <mat-form-field class="form-content">
                <mat-label>Username</mat-label>
                <input #uName #usernameModel="ngModel" [(ngModel)]="username" class="login-field" matInput
                       minlength="3" placeholder="Username" required>
              </mat-form-field>
              <mat-form-field class="form-content">
                <mat-label>Password</mat-label>
                <input #passwordModel="ngModel" #pword [(ngModel)]="password" class="login-field" matInput
                       minlength="3" placeholder="Password" required>
              </mat-form-field>
              <button class="form-button" mat-raised-button type="reset">Clear</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile cols="2">
      <mat-card class="user-card" fxLayout="column" style="padding: 0px; overflow: auto!important;">
        <table [dataSource]="userList" class="mat-elevation-z8" mat-table
               style="overflow: auto;padding-left: 15px;padding-right: 15px">

          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell> ID</th>
            <td *matCellDef="let user" mat-cell> {{user.id}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th *matHeaderCellDef mat-header-cell> First Name</th>
            <td *matCellDef="let user" mat-cell> {{user.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th *matHeaderCellDef mat-header-cell> Last Name</th>
            <td *matCellDef="let user" mat-cell> {{user.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="nic">
            <th *matHeaderCellDef mat-header-cell> NIC</th>
            <td *matCellDef="let user" mat-cell> {{user.nic}} </td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th *matHeaderCellDef mat-header-cell> Mobile</th>
            <td *matCellDef="let user" mat-cell> {{user.mobile}} </td>
          </ng-container>

          <ng-container matColumnDef="userType">
            <th *matHeaderCellDef mat-header-cell> User Type</th>
            <td *matCellDef="let user" mat-cell> {{user.userType}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th *matHeaderCellDef mat-header-cell> Username</th>
            <td *matCellDef="let user" mat-cell> {{user.username}} </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons style="align-content: center"></mat-paginator>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
