.form-content {
  padding-left: 10px;
  padding-right: 10px;
}

.user-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.form-button{
  margin-left: 5px;
  height: 40px;
  background-color: #902b52;
  width: 75px;
}

